In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,4,np.nan,6,8])

In [3]:
s

0     1
1     3
2     4
3   NaN
4     6
5     8
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [10]:
df

                   A         B         C         D
2013-01-01  0.868362  0.156558  0.263619  0.041226
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080
2013-01-04  1.151656  0.600024  1.286908  0.470892
2013-01-05  1.481628 -0.868354 -0.058743  0.298252
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [16]:
df2 = pd.DataFrame({
        'A': 1, # default dtype=int64
        'B': pd.Timestamp('20130101'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test','train','test','train']),
        'F': 'foo' # default dtype=object
    })

In [17]:
df2

   A          B  C  D      E    F
0  1 2013-01-01  1  3   test  foo
1  1 2013-01-01  1  3  train  foo
2  1 2013-01-01  1  3   test  foo
3  1 2013-01-01  1  3  train  foo

In [18]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

See the top & bottom rows of the frame

In [20]:
df.head()

                   A         B         C         D
2013-01-01  0.868362  0.156558  0.263619  0.041226
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080
2013-01-04  1.151656  0.600024  1.286908  0.470892
2013-01-05  1.481628 -0.868354 -0.058743  0.298252

In [21]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.151656  0.600024  1.286908  0.470892
2013-01-05  1.481628 -0.868354 -0.058743  0.298252
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684

Display the index, columns, and the underlying numpy data

In [22]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [23]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [29]:
df.values

array([[ 0.86836213,  0.15655762,  0.26361913,  0.04122574],
       [-0.48002976, -0.22995721,  0.00377381, -0.84303953],
       [-1.73071298, -1.77586369, -0.4178968 , -0.90608008],
       [ 1.15165613,  0.60002405,  1.2869078 ,  0.47089231],
       [ 1.48162783, -0.86835384, -0.05874288,  0.29825207],
       [ 0.89930881, -0.36555453, -1.7144156 , -1.1756839 ]])

In [31]:
type(df.values)

numpy.ndarray

In [27]:
df4 = pd.date_range('20140101', freq='M', periods=5) # what about frequency based on months rather than days?

In [28]:
df4

DatetimeIndex(['2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
               '2014-05-31'],
              dtype='datetime64[ns]', freq='M')

Describe shows a quick statistic summary of your data

In [32]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.365035 -0.413858 -0.106126 -0.352406
std    1.225613  0.830796  0.977279  0.704441
min   -1.730713 -1.775864 -1.714416 -1.175684
25%   -0.142932 -0.742654 -0.328108 -0.890320
50%    0.883835 -0.297756 -0.027485 -0.400907
75%    1.088569  0.059929  0.198658  0.233995
max    1.481628  0.600024  1.286908  0.470892

Transposing your data

In [33]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.868362   -0.480030   -1.730713    1.151656    1.481628    0.899309
B    0.156558   -0.229957   -1.775864    0.600024   -0.868354   -0.365555
C    0.263619    0.003774   -0.417897    1.286908   -0.058743   -1.714416
D    0.041226   -0.843040   -0.906080    0.470892    0.298252   -1.175684

Sorting by an axis

In [35]:
df.sort_index(axis=1, ascending=False) # this just sorts the axis 'A' 'B' 'C' 'D', not by any values

                   D         C         B         A
2013-01-01  0.041226  0.263619  0.156558  0.868362
2013-01-02 -0.843040  0.003774 -0.229957 -0.480030
2013-01-03 -0.906080 -0.417897 -1.775864 -1.730713
2013-01-04  0.470892  1.286908  0.600024  1.151656
2013-01-05  0.298252 -0.058743 -0.868354  1.481628
2013-01-06 -1.175684 -1.714416 -0.365555  0.899309

Sorting by values

In [39]:
df.sort_values(by='B') # all rows stay locked.

                   A         B         C         D
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080
2013-01-05  1.481628 -0.868354 -0.058743  0.298252
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040
2013-01-01  0.868362  0.156558  0.263619  0.041226
2013-01-04  1.151656  0.600024  1.286908  0.470892

Selecting a single column, which yields a Series, equivalent to df.A

In [40]:
df['A']

2013-01-01    0.868362
2013-01-02   -0.480030
2013-01-03   -1.730713
2013-01-04    1.151656
2013-01-05    1.481628
2013-01-06    0.899309
Freq: D, Name: A, dtype: float64

In [41]:
df.A

2013-01-01    0.868362
2013-01-02   -0.480030
2013-01-03   -1.730713
2013-01-04    1.151656
2013-01-05    1.481628
2013-01-06    0.899309
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows.

In [42]:
df[0:3] # exclusive right interval endpoint

                   A         B         C         D
2013-01-01  0.868362  0.156558  0.263619  0.041226
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080

In [43]:
df['20130102':'20130104'] # inclusive(?) right interval endpoint

                   A         B         C         D
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080
2013-01-04  1.151656  0.600024  1.286908  0.470892

#### Selection by label

For getting a cross section using a label

In [44]:
df.loc[dates[0]]

A    0.868362
B    0.156558
C    0.263619
D    0.041226
Name: 2013-01-01 00:00:00, dtype: float64

Selecting on a multi-axis by label

In [46]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.868362  0.156558
2013-01-02 -0.480030 -0.229957
2013-01-03 -1.730713 -1.775864
2013-01-04  1.151656  0.600024
2013-01-05  1.481628 -0.868354
2013-01-06  0.899309 -0.365555

Showing label slicing, both endpoints are included

In [53]:
df.loc['20130102':'20130104',['A','B']] # index=dates, columns=ABCD

                   A         B
2013-01-02 -0.480030 -0.229957
2013-01-03 -1.730713 -1.775864
2013-01-04  1.151656  0.600024

Reduction in the dimensions of the returned object

In [58]:
df.loc['20130102', ['A','B']] # in this case it's a series?

A   -0.480030
B   -0.229957
Name: 2013-01-02 00:00:00, dtype: float64

In [59]:
type(df.loc['20130102', ['A','B']]) # YEP

pandas.core.series.Series

For getting a scalar value

In [63]:
df.loc[dates[0],'A']

0.86836212829174686

For getting fast access to a scalar (equiv to the prior method)

In [68]:
df.at[dates[0],'A']

0.86836212829174686

#### Selection by Position
Select via the position of the passed integers

In [69]:
df.iloc[3] # series again, 4th row

A    1.151656
B    0.600024
C    1.286908
D    0.470892
Name: 2013-01-04 00:00:00, dtype: float64

By integer slices, acting similar to numpy/python

In [73]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  1.151656  0.600024
2013-01-05  1.481628 -0.868354

By lists of integer position locations, similar to the numpy/python style

In [74]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.480030  0.003774
2013-01-03 -1.730713 -0.417897
2013-01-05  1.481628 -0.058743

For slicing rows explicitly

In [77]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.156558  0.263619
2013-01-02 -0.229957  0.003774
2013-01-03 -1.775864 -0.417897
2013-01-04  0.600024  1.286908
2013-01-05 -0.868354 -0.058743
2013-01-06 -0.365555 -1.714416

For getting a value explicitly

In [78]:
df.iloc[1,1]

-0.22995721120419454

For getting fast access to a scalar (equiv to the prior method)

In [79]:
df.iat[1,1]

-0.22995721120419454

#### Boolean Indexing

Using a single columnâ€™s values to select data.

In [81]:
df[df.A>0]

                   A         B         C         D
2013-01-01  0.868362  0.156558  0.263619  0.041226
2013-01-04  1.151656  0.600024  1.286908  0.470892
2013-01-05  1.481628 -0.868354 -0.058743  0.298252
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684

A where operation for getting.

In [82]:
df[df>0]

                   A         B         C         D
2013-01-01  0.868362  0.156558  0.263619  0.041226
2013-01-02       NaN       NaN  0.003774       NaN
2013-01-03       NaN       NaN       NaN       NaN
2013-01-04  1.151656  0.600024  1.286908  0.470892
2013-01-05  1.481628       NaN       NaN  0.298252
2013-01-06  0.899309       NaN       NaN       NaN

Using the isin() method for filtering:

In [83]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']

In [84]:
df2

                   A         B         C         D      E
2013-01-01  0.868362  0.156558  0.263619  0.041226    one
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040    one
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080    two
2013-01-04  1.151656  0.600024  1.286908  0.470892  three
2013-01-05  1.481628 -0.868354 -0.058743  0.298252   four
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684  three

In [85]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080   two
2013-01-05  1.481628 -0.868354 -0.058743  0.298252  four

Setting a new column automatically aligns the data by the indexes

In [86]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20130102', periods=6))

In [87]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [88]:
df['F'] = s1

In [89]:
df # so the value 6 is missing because of alignment

                   A         B         C         D   F
2013-01-01  0.868362  0.156558  0.263619  0.041226 NaN
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040   1
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080   2
2013-01-04  1.151656  0.600024  1.286908  0.470892   3
2013-01-05  1.481628 -0.868354 -0.058743  0.298252   4
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684   5

Setting values by label

In [90]:
df.at[dates[0],'A'] = 0

Setting values by position

In [92]:
df.iat[0,1] = 0

In [94]:
df

                   A         B         C         D   F
2013-01-01  0.000000  0.000000  0.263619  0.041226 NaN
2013-01-02 -0.480030 -0.229957  0.003774 -0.843040   1
2013-01-03 -1.730713 -1.775864 -0.417897 -0.906080   2
2013-01-04  1.151656  0.600024  1.286908  0.470892   3
2013-01-05  1.481628 -0.868354 -0.058743  0.298252   4
2013-01-06  0.899309 -0.365555 -1.714416 -1.175684   5

Setting by assigning with a numpy array

In [96]:
df.loc[:,'D'] = np.array([5] * len(df))

In [97]:
df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000  0.263619  5 NaN
2013-01-02 -0.480030 -0.229957  0.003774  5   1
2013-01-03 -1.730713 -1.775864 -0.417897  5   2
2013-01-04  1.151656  0.600024  1.286908  5   3
2013-01-05  1.481628 -0.868354 -0.058743  5   4
2013-01-06  0.899309 -0.365555 -1.714416  5   5

A where operation with setting.

In [98]:
df2 = df.copy()
df2[df2>0] = -df2
df2 # all positive are negative now

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.263619 -5 NaN
2013-01-02 -0.480030 -0.229957 -0.003774 -5  -1
2013-01-03 -1.730713 -1.775864 -0.417897 -5  -2
2013-01-04 -1.151656 -0.600024 -1.286908 -5  -3
2013-01-05 -1.481628 -0.868354 -0.058743 -5  -4
2013-01-06 -0.899309 -0.365555 -1.714416 -5  -5

#### Missing Data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.
Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [100]:
df1 = df.reindex(index=dates[0:4], columns = list(df.columns) + ['E'])

In [121]:
df1

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000  0.263619  5 NaN NaN
2013-01-02 -0.480030 -0.229957  0.003774  5   1 NaN
2013-01-03 -1.730713 -1.775864 -0.417897  5   2 NaN
2013-01-04  1.151656  0.600024  1.286908  5   3 NaN

In [122]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [123]:
df1

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000  0.263619  5 NaN   1
2013-01-02 -0.480030 -0.229957  0.003774  5   1   1
2013-01-03 -1.730713 -1.775864 -0.417897  5   2 NaN
2013-01-04  1.151656  0.600024  1.286908  5   3 NaN

To drop any rows that have missing data.

In [124]:
df1.dropna(how='any')

                  A         B         C  D  F  E
2013-01-02 -0.48003 -0.229957  0.003774  5  1  1

Filling missing data

In [125]:
df1.fillna(value=5)

                   A         B         C  D  F  E
2013-01-01  0.000000  0.000000  0.263619  5  5  1
2013-01-02 -0.480030 -0.229957  0.003774  5  1  1
2013-01-03 -1.730713 -1.775864 -0.417897  5  2  5
2013-01-04  1.151656  0.600024  1.286908  5  3  5

To get the boolean mask where values are nan

In [126]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

Operations in general exclude missing data.

Performing a descriptive statistic

In [127]:
df.mean() # per column

A    0.220308
B   -0.439951
C   -0.106126
D    5.000000
F    3.000000
dtype: float64

Same operation on the other axis

In [128]:
df.mean(1) # per row

2013-01-01    1.315905
2013-01-02    1.058757
2013-01-03    0.615105
2013-01-04    2.207718
2013-01-05    1.910906
2013-01-06    1.763868
Freq: D, dtype: float64

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

In [129]:
s = pd.Series([1,3,5, np.nan, 6,8], index=dates).shift(2) # shifted 2 down

In [130]:
s

2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64

In [133]:
df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000  0.263619  5 NaN
2013-01-02 -0.480030 -0.229957  0.003774  5   1
2013-01-03 -1.730713 -1.775864 -0.417897  5   2
2013-01-04  1.151656  0.600024  1.286908  5   3
2013-01-05  1.481628 -0.868354 -0.058743  5   4
2013-01-06  0.899309 -0.365555 -1.714416  5   5

In [134]:
df.sub(s, axis='index') # subtract using the series s from above (like a filter on each column)

                   A         B         C   D   F
2013-01-01       NaN       NaN       NaN NaN NaN
2013-01-02       NaN       NaN       NaN NaN NaN
2013-01-03 -2.730713 -2.775864 -1.417897   4   1
2013-01-04 -1.848344 -2.399976 -1.713092   2   0
2013-01-05 -3.518372 -5.868354 -5.058743   0  -1
2013-01-06       NaN       NaN       NaN NaN NaN

Applying functions to the data